@model MusicStoreApplication.Web.Models.TrackCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Track</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrackDto.Name" class="control-label"></label>
                <input asp-for="TrackDto.Name" class="form-control" />
                <span asp-validation-for="TrackDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackDto.GenreIds" class="control-label"></label>
                <input asp-for="TrackDto.GenreIds" class="form-control" />
                <span asp-validation-for="TrackDto.GenreIds" class="text-danger"></span>
            </div>
            <div class="form-group row ps-2">
                <label asp-for="TrackDto.AlbumId" class="col-form-label col-2">Album:</label>
                <div class="form-group col">
                    <select asp-for="TrackDto.AlbumId" id="albumSelect" class="selectpicker" data-live-search="true">
                        @foreach(var album in Model.Albums)
                        {
                        <option value="@album.Id">
                            @album.Name
                        </option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row ps-2">
                <label asp-for="TrackDto.ArtistIds" class="col-form-label col-2">Artists:</label>
                <div class="form-group col">
                    <select asp-for="TrackDto.ArtistIds" id="artistSelect" class="selectpicker" multiple data-live-search="true">
                        @foreach(var artist in Model.Artists)
                        {
                        <option value="@artist.Id">
                            @artist.Name
                        </option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>
<script>

    $('#searchForm').onsubmit = function () { 
        console.log($('#artistSelect').val());
    };

        $('.selectpicker').selectpicker({
      });
</script>
